@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin');
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700);

@font-face {
    font-family: "Raleway";
    src: url(resources/raleway_thin-webfont.ttf) format("truetype");
}

body {
    margin: 5%;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.7;
    font-size: 1em;
    color: #515151;
  background-color: #fff;
}

#navWrap {
    height: 25px;
    z-index:1;
}

#navContainer ul {
    list-style-type: none;
    height: 25px;
    margin: 0;
    padding: 8px;
    text-align: center;
    font-family: avenir next;
    z-index:1;
    background-color: rgba(255,255,255,0.9);
    border-radius: 1%;
    color: black;
}

#navContainer ul li {
    display: inline;
    z-index:1;
    margin-top: 3em;
}

#navContainer ul li a {
    text-decoration: none;
    padding: 0.2em 2em;
    font-size: 0.9em;
    font-weight: 500;
    z-index:1;
    color: black;
}

#navcontainer ul li a:hover {
    z-index:1;
    border-radius: 60%;
    color: black;
    text-decoration: underline;
} 

.hyperlink {
 color: 225D80;   
}

.image-link {
    text-decoration: none;
}

.wrapper {
margin: 0 auto -4em;
}

.footer {
height: 4em;
background-color: black;
text-align: center;
}
