@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin');
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700);

@font-face {
    font-family: "Raleway";
    src: url(resources/raleway_thin-webfont.ttf) format("truetype");
}

body {
    margin: 0;
    font-family: avenir next;
    color: white;
}

#navWrap {
    height: 25px;
    z-index:1;
}

#navContainer ul {
    list-style-type: none;
    height: 25px;
    margin: 0;
    padding: 8px;
    text-align: center;
    font-family: avenir next;
    z-index:1;
    background-color: rgba(255,255,255,0.9);
    border-radius: 1%;
    color: black;
}

#navContainer ul li {
    display: inline;
    z-index:1;
    margin-top: 3em;
}

#navContainer ul li a {
    text-decoration: none;
    padding: 0.2em 2em;
    font-size: 0.9em;
    font-weight: 500;
    z-index:1;
    color: black;
}

#navcontainer ul li a:hover {
    z-index:1;
    border-radius: 60%;
    color: black;
    text-decoration: underline;
} 

#name {
    font-family: "Raleway";
    color: #fff;
    padding-top: 4.2em;
    font-weight: 550;
    letter-spacing: 3pt;
    font-size: 4.75rem;
    text-align: center;
    vertical-align: center;
}

#intro {
    font-family: "Lato";
    color: #fff;
    font-weight: 300;
    letter-spacing: 3pt;
    font-size: 1.05rem;
    text-align: center;
}

#header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), #000 url('resources/trainLarger_edited2.jpg') no-repeat center center fixed;
    background-position: 50% 41%;
    width: 100%;
    height: 105%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}


#about {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 98%;
    background-size: cover;
    overflow: hidden;
    display: block;
    color: black;
    background-color: white;
}

.about-also {
padding-top: 3%;
font-size: 21px;
padding-bottom: 0.1%;
}

.tagline {
    font-family: 'avenir next';
    font-weight: 400;
    font-size: 13pt; 
}

#about h4 {
font-size: 18px;
font-weight: 600;  
}

#about p {
 font-size: 16px;
font-weight: 400;     
}

.container {
 padding-top: 3%;   
}

.about-developer {
 float: left;
margin-left: 1%;
width: 19%;
font-size: 18px;
font-weight: 600;
padding: 2.5%;
padding-top: 0;
}

.about-musician {
float: left;
width: 19%;
font-size: 18px;
font-weight: 600;
padding: 2.5%;
padding-top: 0;
}

.about-athlete {
float: left;
    width: 19%;
font-size: 18px;
font-weight: 600;
    padding: 2.5%;
    padding-top: 0;
}

.about-traveler {
 float: left;
    width: 19%;
font-size: 18px;
font-weight: 600;
    padding: 2.5%;
    padding-top: 0;
}

#container {
 text-align: center;
    width: 100%;
}

#aboutDev {
  float:left;
    width:30%;
}

#aboutMus {
   display: inline-block;
    margin:0 auto;
    width:30%;
}

#aboutAth {
 float:right;
    width:30%;
}

#education {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), #000 url('resources/notebook_smallGood.jpg') no-repeat center center fixed;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 140%;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    display: block;
    background-color:#F5F5F5;
    color: white;
}

#educationLeftPage {
padding-left: 33%; 
float: left;
color: black;
width: 25%;
}

#educationRightPage {
padding-top: 2%;
padding-left: 3%;
float: left;
color: black;
width: 28%;
}

#education h1 {
    padding-top: 10%;
}

#education h2 {
font-size: 18px;
font-weight: 400;
    font-size: 1.4vw;
}

#education p {
padding-top: 1%;
font-size: 15px;
font-weight: 400;
    font-size: 1.3vw;
}

#education h3 {
    padding: 0%;
    font-size: 16px;
    font-size: 1.3vw;
}

#education ul {
    font-size: 15px;
    text-align: left;
    font-size: 1.2vw;
}

#experience {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 110%;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    display: block;
    color: black;
}

.bar {
    height:0.6%;
    background:#F4F1F0;
    position: relative;
    top:5%;
    left:24.75%;
    width: 151.25%;
    right: 3%;
}

.verticalBar {
    height:5%;
    background:#eee;
    position: relative;
    top:5%;
    left:49.5%;
    width: 0.6%;
    right: 3%;
}

#experienceContainer {
overflow: scroll;
width: 100%;
white-space: nowrap;
padding-top: 5%;
}

#experienceContainer ul {
text-align: left;
}

#experienceContainer li {
padding-top: 1%;
}

.experienceSection
{
width: 48%;
padding: 0% 1% 2% 1%;
color: black;
display: inline-block;
vertical-align: top;
white-space: normal;
text-align: center;
}

#skills {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), #000 url('resources/jumbotronBackground7.jpg') no-repeat center center fixed;
    width: 100%;
    height: 122%;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    display: block;
}

#page {
    margin-left: 46.5%;
    align-content: center;
    background-color:none;
    position:relative;
    color: black
}

.skillsDesc {
    font-family: "avenir next";
    font-size: 15pt;
    font-weight: 500;
    text-align: left;
}

.skillsDetail {
    font-family: 'avenir next';
    font-weight: 400;
    font-size: 1vw;
}

.skillsDetail a {
    font-family: 'avenir next';
    font-weight: 700;
    font-size: 9pt;
    color: 154A67;
}

#projects {
    background: #F5F5F5;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 126%;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    display: block;
    color: black;
}

#projects ul {
    text-align: left;
}

#project1 {
float: left;
width: 32.25%;
padding-left: 1%;
padding-top: 3%;
}

#imageContainer {
float: left;
padding-bottom: 8.5%;
}

#laptop {
float: left;
width: 76%;
padding-top: 8%;
margin-left: 10%;
}

#phone {
float: left;
width: 24%;
padding-top: 26%;
margin-left: -10%;
}

#project2 {
float: left;
width: 32.25%;
padding-top: 3%;
padding-left: 1%;
}

#project3 {
float: left;
width: 32.25%;
padding-top: 3%;
padding-left: 1%;
}

.img-circle {
    border-radius: 50%;
    width: 205px;
    height: 230px;
    padding-top: 0%;
    margin-top: 2%;
}

.sectionTitle {
    font-family: "Raleway";
    font-weight: bold;
    letter-spacing: 4pt;
    text-align: center;
    padding-top: 4%;
    align-content: center;
}

.aboutInfo ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: avenir next;
}

.aboutInfo ul li {
    display: inline;
}

.hyperlink {
 color: 225D80;   
}

.image-link {
    text-decoration: none;
}

.wrapper {
margin: 0 auto -4em;
}

.footer {
height: 4em;
background-color: black;
text-align: center;
}