@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin');
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700);

@font-face {
    font-family: "Raleway";
    src: url(resources/raleway_thin-webfont.ttf) format("truetype");
}

body {
    margin: 0;
    font-family: avenir next;
    color: white;
}

#navContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: avenir next;
}

#navContainer ul li {
    display: inline;
}

#navContainer ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: none; 
    font-size: 1em;
}

#navcontainer ul li a:hover {
    color: #fff;
    background-color: none;
    text-decoration: underline;
}

#name {
    font-family: "Raleway";
    color: #fff;
    padding-top: 1em;
    font-weight: 300;
    letter-spacing: 3pt;
    font-size: 3.5rem;
    text-align: center;
    vertical-align: center;
}

#intro {
    font-family: "Lato";
    color: #fff;
    font-weight: 300;
    letter-spacing: 3pt;
    font-size: 1rem;
    text-align: center;
}

#header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000 url('resources/road.jpg') no-repeat center center fixed;
    width: 100%;
    height: 122%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}


#about {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 140%;
    background-size: cover;
    overflow: hidden;
    display: block;
    color: black;
}

.about-also {
padding-top: 3%;
font-size: 21px;
padding-bottom: 0.1%;
}

.tagline {
    font-family: 'avenir next';
    font-weight: 400;
    font-size: 13pt; 
}


#about h4 {
font-size: 18px;
font-weight: 600;  
}

#about p {
 font-size: 16px;
font-weight: 400;     
}

.container {
 padding-top: 5%;   
}

.about-developer {
 float: left;
margin-left: 1%;
width: 19%;
font-size: 18px;
font-weight: 600;
padding: 2.5%;
padding-top: 0;
}

.about-musician {
float: left;
width: 19%;
font-size: 18px;
font-weight: 600;
padding: 2.5%;
    padding-top: 0;
}

.about-athlete {
float: left;
    width: 19%;
font-size: 18px;
font-weight: 600;
    padding: 2.5%;
    padding-top: 0;
}

.about-traveler {
 float: left;
    width: 19%;
font-size: 18px;
font-weight: 600;
    padding: 2.5%;
    padding-top: 0;
}

#container {
 text-align: center;
    width: 100%;
}

#aboutDev {
  float:left;
    width:30%;
}

#aboutMus {
   display: inline-block;
    margin:0 auto;
    width:30%;
}

#aboutAth {
 float:right;
    width:30%;
}

#education {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), #000 url('resources/notebook.jpg') no-repeat center center fixed;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 140%;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    display: block;
    background-color:#F5F5F5;
    color: white;
}

#educationLeftPage {
padding-left: 33%; 
float: left;
color: black;
width: 25%;
}

#educationRightPage {
padding-top: 1%;
padding-left: 5%;
float: left;
color: black;
width: 25%;
}

#education h2 {
font-size: 18px;
font-weight: 400;
}

#education p {
padding-top: 1%;
font-size: 15px;
font-weight: 400;
}

#education h3 {
    padding: 0%;
    font-size: 16px;
}

#education ul {
    font-size: 15px;
    text-align: left;
}

#experience {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 110%;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    display: block;
    color: black;
}

#experienceContainer {
overflow: scroll;
width: 100%;
white-space: nowrap;
padding-top: 3%;
}

.experienceSection
{
width: 48%;
padding: 0% 1% 2% 1%;
color: black;
display: inline-block;
vertical-align: middle;
white-space: normal;
text-align: center;
}

#skills {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), #000 url('resources/jumbotronBackground7_smaller.jpg') no-repeat center center fixed;
    width: 100%;
    height: 122%;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    display: block;
}

#page {
    margin-left: 46.5%;
    align-content: center;
    background-color:none;
    position:relative;
    color: black
}

.skillsDesc {
    font-family: "avenir next";
    font-size: 15pt;
    font-weight: 500;
    text-align: left;
}

.skillsDetail {
    font-family: 'avenir next';
    font-weight: 400;
    font-size: 1vw;
}

.skillsDetail a {
    font-family: 'avenir next';
    font-weight: 700;
    font-size: 9pt;
    color: 154A67;
}

#projects {
    background: #F5F5F5;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 122%;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    display: block;
    color: black;
}

#project1 {
float: left;
width: 33%;
padding-top: 5%;
}

#project2 {
float: left;
width: 33%;
padding-top: 5%;
}

#project3 {
float: left;
width: 33%;
padding-top: 5%;
}

#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000 url('resources/road.jpg') no-repeat center center fixed; 
    text-align: center;
    align-content: center;
    width: 100%;
    height: 122%;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    display: block;
    background-color:#F5F5F5;
}

.img-circle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 1%;
}

.sectionTitle {
    font-family: "Raleway";
    font-weight: bold;
    letter-spacing: 4pt;
    text-align: center;
    padding-top: 6.5%;
    align-content: center;
    align-items: center;
}

.aboutInfo ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: avenir next;
}

.aboutInfo ul li {
    display: inline;
}

.hyperlink {
 color: 225D80;   
}