<html>
<head>
    <link rel="stylesheet" type="text/css" href="/_layouts/index.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <div id="navWrap">
    <div id="navContainer">
        <ul>
            <li><a href="#about" class="smoothScroll">About Me</a></li></li>
            <li><a href="#education" class="smoothScroll">Education</a></li>
            <li><a href="#experience" class="smoothScroll">Experience</a></li>
            <li><a href="#skills" class="smoothScroll">Skills</a></li>
            <li><a href="#projects" class="smoothScroll">Projects</a></li>
            <li><a href="#contact" class="smoothScroll">Contact</a></li>
        </ul>
    </div>
    </div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
<div class="footer">
        <a class="image-link" href="mailto:liza@girsovs.com?">
            <img src="resources/icons/mail.png" title="Email" width="4%">
        </a>
        <a class="image-link" href="https://www.linkedin.com/in/lizagirsova" target="_blank">
            <img src="resources/icons/linkedin.png" title="LinkedIn" width="4%">
        </a>
        <a class="image-link" href="https://github.com/egirsova" target="_blank">
            <img src="resources/icons/github.png" title="GitHub" width="4%">
        </a>
        <a class="image-link" href="https://soundcloud.com/liza-music" target="_blank">
            <img src="resources/icons/soundcloud.png" title="SoundCloud" width="4%">
        </a>
    </div>
		</body>
	</html>
