#navWrap {
    height: 25px;
    z-index:1;
}

#navContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    text-align: center;
    font-family: avenir next;
    z-index:1;
    background-color: black;
    border-radius: 4%;
}

#navContainer ul li {
    display: inline;
    z-index:1;
}

#navContainer ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: none; 
    font-size: 0.8em;
    z-index:1;
}

#navcontainer ul li a:hover {
    color: #fff;
    z-index:1;
    background-color: dimgray;
    opacity: 2;
    border-radius: 60%;
}
